body {
    font-size: 18px;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

/*=========================================================
Header
===========================================================*/
.navbar-nav .dropdown-menu-end {
    left: auto !important;
    right: 0 !important;
    transform-origin: right top !important;
    z-index: 3000;
}

/*=========================================================
Index
===========================================================*/
.header-row {
    margin-bottom: -15px;
}

.btn-custom {
    position: relative;
    overflow: visible;
}

.btn-custom .hover-text {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}


.btn-custom .hover-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

.btn-custom:hover .hover-text {
    display: block;
}

.custom-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300em;
    max-height: 1.75em;
    margin: 0 auto;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/*=========================================================
Dashboard
===========================================================*/


/*=========================================================
Create
===========================================================*/
img#imgpreview {
    width: 150px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

img#imgsquare {
    width: 25em;
    height: 20em;
    max-width: 100%;
    max-height: 80%;
}

/*=========================================================
Detail
===========================================================*/
/*=========================================================
Edit
===========================================================*/
label.custom-upload {
    display: block;
    width: 200px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

input.custom-photo-input {
    display: none;
}

.custom-radio-container {
    display: flex;
    align-items: center;
}

.custom-radio-group {
    display: flex;
    gap: 1em;
}

.custom-radio-group>div {
    display: flex;
    align-items: center;
}

.custom-label-radio {
    margin-left: 0.5em;
}


input[type="radio"].custom-radio {
    display: none;
}

label.custom-label-radio {
    position: relative;
    color: #4189e0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    border: 2px solid #4189e0;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    font-size: 0.875rem;
}

label.custom-label-radio:before {
    content: "";
    height: 1.2em;
    width: 1.2em;
    border: 2px solid #4189e0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    box-sizing: border-box;
}

input[type="radio"].custom-radio:checked+label.custom-label-radio:before {
    background-color: #4189e0;
    border-width: 0.4em;
    border-color: #ffffff;
}

input[type="radio"].custom-radio:checked+label.custom-label-radio {
    background-color: #4189e0;
    color: #ffffff;
}

/*=========================================================
Delete
===========================================================*/